<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Ediary Application</title>
	<link rel="stylesheet" th:href="@{/main.css}"/>
</head>
<body>
	<div class="header" th:fragment="header">
    	<ul>
	    	<li id="welcome"><b><i>E-diary</i></b> - Welcome <span sec:authentication="name"></span>!</li>
	    	<li><a class="buttons" th:href="@{/admin}" sec:authorize="hasAnyAuthority('1')">Home</a></li>
	    	<li><a class="buttons" th:href="@{/basic}" sec:authorize="hasAnyAuthority('2','3')">Home</a></li>
	    	<li><a class="buttons" th:href="@{/teacher}" sec:authorize="hasAnyAuthority('4')">Home</a></li>
	    	<li>
		    	<form th:action="@{/logout}" method="post">
					<input class="buttons" type="submit" value="Sign Out" />
				</form>
			</li>	
		</ul>
    </div>
</body>	
</html>