<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head :: head"></head>
<body>
	<div th:replace="fragments/head :: header"></div>
	<div>
		<h3>Users listed by their role types</h3>
		<div>
			<table>
				<thead>
					<tr>
						<th>Teacher</th>
						<th>Active</th>
						<th>Change Status</th>
						<th>Blocked</th>
						<th>Block/Unblock</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${teachers.empty}">
						<td colspan="5">Empty list</td>
					</tr>
					<tr th:each="teacher : ${teachers}">
						<td><span th:text="${teacher.fullname}"></span></td>
						<td><span th:text="${teacher.activated}"></span></td>
						<td><a class="buttons" th:href="@{/admin/activation-switch/} + ${teacher.activated} + @{/} + ${teacher.userId}">Toggle</a></td>
						<td><span th:text="${teacher.blocked}"></span></td>
						<td><a class="buttons" th:href="@{/admin/block-switch/} + ${teacher.blocked} + @{/} + ${teacher.userId}">Toggle</a></td>
					</tr>
					<tr>
						<td class="button-wrapper" colspan="5">
							<form th:action="@{/admin/register-user} + @{/} + ${roles[0]}">
								<input class="buttons" type="submit" value="Add New Teacher" />
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<table>
				<thead>
					<tr>
						<th>Student</th>
						<th>Active</th>
						<th>Change Status</th>
						<th>Blocked</th>
						<th>Block/Unblock</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${students.empty}">
						<td colspan="5">Empty list</td>
					</tr>
					<tr th:each="student : ${students}">
						<td><span th:text="${student.fullname}"></span></td>
						<td><span th:text="${student.activated}"></span></td>
						<td><a class="buttons" th:href="@{/admin/activation-switch/} + ${student.activated} + @{/} + ${student.userId}">Toggle</a></td>
						<td><span th:text="${student.blocked}"></span></td>
						<td><a class="buttons" th:href="@{/admin/block-switch/} + ${student.blocked} + @{/} + ${student.userId}">Toggle</a></td>
					</tr>
					<tr>
						<td class="button-wrapper" colspan="5">
							<form th:action="@{/admin/register-user} + @{/} + ${roles[1]}">
								<input class="buttons" type="submit" value="Add New Student" />
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<table>
				<thead>
					<tr>
						<th>Parent</th>
						<th>Active</th>
						<th>Change Status</th>
						<th>Blocked</th>
						<th>Block/Unblock</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${parents.empty}">
						<td colspan="5">Empty list</td>
					</tr>
					<tr th:each="parent : ${parents}">
						<td><span th:text="${parent.fullname}"></span></td>
						<td><span th:text="${parent.activated}"></span></td>
						<td><a class="buttons" th:href="@{/admin/activation-switch/} + ${parent.activated} + @{/} + ${parent.userId}">Toggle</a></td>
						<td><span th:text="${parent.blocked}"></span></td>
						<td><a class="buttons" th:href="@{/admin/block-switch/} + ${parent.blocked} + @{/} + ${parent.userId}">Toggle</a></td>
					</tr>
					<tr>
						<td class="button-wrapper" colspan="5">
							<form th:action="@{/admin/register-user} + @{/} + ${roles[2]}">
								<input class="buttons" type="submit" value="Add New Parent" />
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>