<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head :: head"></head>
<body>
    <div th:replace="fragments/head :: header"></div>
    <div>
    	<h3>The student's subjects are the following</h3>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Grade Average</th>
                        <th>Current Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${subjects.empty}">
                        <td colspan="3">No available subjects</td>
                    </tr>
                    <tr th:each="subject : ${subjects}">
	                    <td><a th:href="@{/basic/subject/} + ${subject.subjectName}" sec:authorize="hasAnyAuthority('2','3')"><span th:text="${subject.subjectName}"></span></a>
	                       <a th:href="@{/teacher/student/} + ${studentId} + @{/} + ${subject.subjectName}" sec:authorize="hasAnyAuthority('4')"><span th:text="${subject.subjectName}"></span></a></td>
	                    <td><span th:text="${subject.gradeAvg}"></span></td>
	                    <td><span th:text="${subject.finalGrade}"></span></td>
                    </tr>
                    <tr>
 						<td colspan="4" sec:authorize="hasAnyAuthority('4')">
 						   	<form th:action="@{/teacher/student/teacher-addsubject/} + ${studentId}">
                   				<input class="buttons" type="submit" value="Add New Subject and Grade"/>
                   			</form>
 						</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>