<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head :: head"></head>
<body>
    <div th:replace="fragments/head :: header"></div>  
    <div>
    	<h3>The student's grades are the following</h3>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Grade</th>
                        <th>Teacher</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${grades.empty}">
                        <td colspan="4">No available grades</td>
                    </tr>
                    <tr th:each="grade : ${grades}">
	                    <td><span th:text="${grade.date}"></span></td>
	                    <td><span th:text="${grade.description}"></span></td>
	                    <td><span th:text="${grade.value}"></span></td>
	                    <td><span th:text="${grade.teacherName}"></span></td>
                    </tr>
                    <tr>
            	       	<td sec:authorize="hasAnyAuthority('4')" colspan="4">
            	       		<form th:action="@{/teacher/student/teacher-addgrade/} + ${studentId} + @{/} + ${subjectName}">
                   				<input class="buttons" type="submit" value="Add New Grade"/>
                   			</form>
            	        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>