<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: head"></head>
<body>
	<h3>Please approve your authority.</h3>
	<div class="index">
		<a th:href="@{/admin}" sec:authorize="hasAnyAuthority('1')">Admin</a>
		<a th:href="@{/basic}" sec:authorize="hasAnyAuthority('2','3')">Student/Parent</a>
		<a th:href="@{/teacher}" sec:authorize="hasAnyAuthority('4')">Teacher</a>
		<form th:action="@{/logout}" method="post">
			<input id="index-button" class="buttons" type="submit" value="Sign Out" />
		</form>
	</div>
</body>
</html>