<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>E-diary Application</title>
	<link rel="stylesheet" type="text/css" th:href="@{/main.css}"/>
</head>
<body>
    <h3>Welcome to E-diary Application!</h3>
    <h4>Authenticate yourself!</h4>
    <div class="login-wrapper">
	    <div>
		    <form th:action="@{/login}" method="post">
		        <div class="inp"><label>Username<input type="text" name="username" placeholder="Username"/> </label></div>
		        <div class="inp"><label>Password<input type="password" name="password" placeholder="Password"/> </label></div>
		        <div><input id="sin-button" class="buttons" type="submit" value="Sign In"/></div>
		    </form>
		    <p class="note" th:if="${param.error}">Invalid username and password combination.</p>
	    	<p class="note" th:if="${param.loggedout}">You have been logged out successfully.</p>
		</div>
	</div>
</body>
</html>