<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head :: head"></head>
<body>
    <div th:replace="fragments/head :: header"></div>
    	<div>
    		<h3>Your students are the following</h3>
        	<div>
            	<table>
                   <thead>
                       <tr>
                           <th>Student Name</th>
                       </tr>
                   </thead>
                   <tbody>
                   		<tr th:if="${students.empty}">
                   			<td>Students list is empty</td>
                   		</tr>
                   		<tr th:each="student : ${students}">
                   			<td><a th:href="@{/teacher/student/} + ${student.userId}"><span th:text="${student.fullname}"></span></a></td>
                   		</tr>
                   </tbody>
            	</table>
			</div>
	</div>
</body>
</html>
              
                   
                   